.eye-block {
  background: #5bd061;
  padding: 96px 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  .wr {

  }
  .eye-wr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 16px;
    .eye {
      width: 82px;
      height: 82px;
      background: #ffffff;
      border-radius: 50%;
      position: relative;
      .eye-pupil {
        width: 36px;
        height: 36px;
        background: #000000;
        border-radius: 50%;
        position: absolute;
        top:23px;
        right: 23px;
        transform: translate(-50%, -50%);
      }
    }
  }
}