.location{

  background: #ffffff;
  .wr{
    display: flex;
    align-items: center;
  }
  .l-side{
    .text-title{
      color: #673ab7;
      font-size: 45px;
      font-weight: 500;

    }
  }
  .phone{
    .phone-wr{
      position: relative;
      img {
        max-height: 80vh;
      }
      .phone-wr-location{
        position: absolute;
        top: 10%;
        left: 11%;
        right: 11%;
        bottom: 12%;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .r-side{
    .features-wr {
      display: flex;
      flex-flow: column;
      justify-content: center;
      .features-i{
        max-width: 80%;
        margin: 16px auto;

        .icon-wr{
          color: #01d59c;
          font-size: 32px;
          margin: 0 0 16px 0;
          i{
            width: 36px;
          }
        }
        p {
          color: #4f5360;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}